/*margin-top*/
@each $size in $spacing{
    .mt-#{$size}{
        margin-top:$size;
    }
    
}
/*margin-bottom*/
@each $size in $spacing{
    .mb-#{$size}{
        margin-bottom:$size;
    }
}
.mb-sm{
    margin-bottom:$spacing-sm;
}
.mb-md{
    margin-bottom: $spacing-md;
}
/*margin-right*/
@each $size in $spacing{
    .mr-#{$size}{
        margin-right:$size;
    }
}
.mr-md{
    margin-right:$spacing-md;
}

/*margin-left*/
@each $size in $spacing{
    .ml-#{$size}{
        margin-left:$size;
    }
}
/*padding*/
.pr-16px{
    padding-right: 16px;
}
.pv-md{
    padding:$spacing-md 0;
}
/*display*/
.d-inline-block{
    display: inline-block;
}
.d-inline{
    display: inline;
}
.d-block{
    display: block;
}
/*text*/
.tt-upper{
    text-transform: uppercase;
}
.ta-center{
    text-align: center;
}

.ta-left{
    text-align: left;
}

/*vertical-align*/
.ta-middle{
    vertical-align: middle;
}
.ta-top{
    vertical-align: top;
}
.ta-bottom{
    vertical-align: bottom;
}

/* float */
.float-l{
    float:left;
}
.float-r{
    float:right;
}
/* clearfix */
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
/*position*/
.fixed{
    position: fixed;
    }
.relative{
    position:relative;
}    
.absolute{
    position:absolute;
}
.sticky{
    position:sticky;
}
/*inline-space-reset*/
.ln-height-0{
    line-height:0;
}
.fs-0{
    font-size:0;
}
/*color*/
.primary-blue{
    color:$primary-blue;
}
.circle{
    width:20px;
    height:20px;
    border-radius: 50%;
    border:2px $primary-white solid;
}