@mixin media-breakpoint($breakpoint){
    @if $breakpoint == xxl {
        @media screen and (max-width:1400px) {
            @content
        };
    }

    @if $breakpoint == xl{
        @media screen and (max-width:1200px){
            @content
        };
    }
    @if $breakpoint == lg{
        @media only screen and (max-width:992px){
            @content
        };
    }
    @if $breakpoint == md{
        @media  screen and (max-width:768px){
            @content
        };
    }
    @if $breakpoint == sm{
        @media screen and (max-width:576px){
            @content
        };
    }

}
@mixin circle{
    width:20px;
}