/*color*/
$primary-green:#1fdb84;
$secondary-green:#6fdeaa;
$tertiary-green:#aefdd9;
$primary-white:#ffffff;
$primary-blue:#031d5b;
$secondary-blue:#32325c;
$tertiary-blue:#5b6c94;
$border-blue:#0a8aff;
$primary-grey:#313a5a;
/*spacing*/
$spacing-1:8px;
$spacing-2:16px;
$spacing-3:24px;
$spacing-4:32px;
$spacing-5:40px;
$spacing-6:48px;
$spacing-7:56px;
$spacing-8:64px;
$spacing-md:100px;
$spacing-sm:78px;
$spacing:("1":8px,"2":16px,"3":24px,"4":32px,"5":40px,"6":48px,"7":56px,"8":64px,"md":90px,"lg":150px);


/*font-size*/
$fs-xxl:48px;
$fs-xl:40px;
$fs-l:24px;
$fs-md:18px;
$fs-sm:16px;

/*breakpoints*/
$breakpoints-xxl:1400px;
$breakpoints-xl:1200px;
$breakpoints-lg:992px;
$breakpoints-md:768px;
$breakpoints-sm:576px;