/*color*/
$primary-green:#1fdb84;
$secondary-green:#6fdeaa;
$tertiary-green:#aefdd9;
$primary-white:#ffffff;
$primary-blue:#031d5b;
$secondary-blue:#32325c;
$tertiary-blue:#5b6c94;
$border-blue:#0a8aff;
$primary-grey:#313a5a;

/*spacing*/
$spacing:8px,16px,24px,32px,40px,48px,56px,64px;
$spacing-md:100px;
$spacing-sm:78px;
/*font-size*/
$fs-xxl:48px;
$fs-xl:40px;
$fs-l:24px;
$fs-md:18px;
$fs-sm:16px;